.env
upload.html


D:/ERP_16_apr/nthras\apps\alignbook\__pycache__
D:/ERP_16_apr/nthras\apps\company\__pycache__
D:/ERP_16_apr/nthras\apps\customer\__pycache__
D:/ERP_16_apr/nthras\apps\inventory\__pycache__
D:/ERP_16_apr/nthras\apps\masters\__pycache__
D:/ERP_16_apr/nthras\apps\per_val\__pycache__
D:/ERP_16_apr/nthras\apps\products\__pycache__
D:/ERP_16_apr/nthras\apps\purchase\__pycache__
D:/ERP_16_apr/nthras\apps\sales\__pycache__
D:/ERP_16_apr/nthras\apps\tasks\__pycache__
D:/ERP_16_apr/nthras\apps\users\__pycache__
D:/ERP_16_apr/nthras\apps\vendor\__pycache__
D:/ERP_16_apr/nthras\config\__pycache__

