APScheduler==3.11.0
asgiref==3.7.2
bcrypt==4.1.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==41.0.5
defusedxml==0.8.0rc2
distlib==0.3.7
Django==4.2.6
django-cors-headers==4.3.0
django-cron==0.6.0
django-crontab==0.7.1
django-debug-toolbar==4.2.0
django-filter==24.2
django-phonenumber-field==7.2.0
django-ratelimit==4.1.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djoser==2.2.2
drf-yasg==1.21.7
et-xmlfile==1.1.0
filelock==3.13.0
idna==3.6
inflect==7.4.0
inflection==0.5.1
lxml==5.1.0
more-itertools==10.5.0
mysql-connector-python==8.2.0
numpy==1.26.4
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
pandas==2.2.2
passlib==1.7.4
phonenumbers==8.13.25
pillow==10.3.0
pipenv==2023.10.24
platformdirs==3.11.0
protobuf==4.21.12
pycparser==2.21
PyJWT==2.8.0
PyMySQL==1.1.0
pypinyin==0.51.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
python3-openid==3.2.0
pytils==0.4.1
pytz==2023.3.post1
PyYAML==6.0.1
reportlab==4.2.2
requests==2.31.0
requests-oauthlib==2.0.0
setuptools==68.2.2
six==1.16.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sqlparse==0.4.4
tools==0.1.9
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.1.0
virtualenv==20.24.6
zenutils==0.5.4
