<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>SALES ORDER</h2>
<p>Phone No: 919948001000 | Email: narayananbkr@gmail.com</p>
<p align="right">Original For Recipient</p>
<br>
<table>
  <tr>
    <th>SO No.</th>
    <th>SO Date</th>
    <th>Mobile</th>
    <th>Destination</th>
    <th>Reference</th>
  </tr>
  <tr>
    <td>01175/24-25</td>
    <td>19/08/2024</td>
    <td>7262083845</td>
    <td>NELLORE</td>
    <td>Any</td>
  </tr>
</table>
<br>

<h3>Customer Billing Detail</h3>
<p>Qodefarm</p>
<p>NELLORE, Andhra Pradesh India</p>
<p>GSTIN/UIN:</p>
<br>
<table>
  <tr>
    <th>S No</th>
    <th>Description</th>
    <th>HSN/SAC</th>
    <th>Qty</th>
    <th>UOM</th>
    <th>Item Rate</th>
    <th>Amount</th>
    <th>Disc</th>
    <th>Taxable</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1/2 KG RUBBER TULIP</td>
    <td></td>
    <td>3.00</td>
    <td>NOS</td>
    <td>500.00</td>
    <td>1,500.00</td>
    <td>-10.00</td>
    <td>1,490.00</td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th colspan="6">Total</th>
    <th>1,500.00</th>
    <th></th>
    <th>1,490.00</th>
  </tr>
  <tr>
    <td colspan="6"></td>
    <th>Sub Total</th>
    <th>1,500.00</th>
    <th></th>
  </tr>
  <tr>
    <td colspan="6"></td>
    <th>Discount Amt</th>
    <th>-10.00</th>
    <th></th>
  </tr>
  <tr>
    <td colspan="6"></td>
    <th>Round Off</th>
    <th>0.00</th>
    <th></th>
  </tr>
  <tr>
    <td colspan="6"></td>
    <th>Bill Total</th>
    <th>1,490.00</th>
    <th></th>
  </tr>
  <tr>
    <td colspan="6"></td>
    <th>Party Old Balance</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td colspan="6"></td>
    <th>Net Total</th>
    <th></th>
    <th></th>
  </tr>
</table>
<br>
<p>Bill Amount In Words: INR One Thousand Four Hundred Ninety Only</p>
<p>Tax Amount In Words: INR One Thousand Four Hundred Ninety Only</p>
<p>Remark: 01175/24-25</p>
<br>

<p>Declaration:</p>
<p>We declare that this invoice shows the actual price of the goods/services described and that all particulars are
true and correct.</p>

<p align="right">Authorised Signatory</p>
<p align="right">Page: 1/1</p>

</body>
</html>